body {
    overflow-x: hidden;
    position: relative;
    word-wrap: break-word;
}

html {
    overflow-x: hidden;
    position: relative;
}

.wrapper {
    max-width: 1204px;
    margin: 0 auto;
    padding: 40px 20px;
}

.main-content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}

.main-content-col {
    max-width: 576px;
    flex: 1;
}

.vertical-small-gap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.margin-bottom-big {
    margin-bottom: 36px;
}

.margin-bottom-small {
    margin-bottom: 8px;
}

.margin-top-medium {
    margin-top: 16px;
}

.margin-top-small {
    margin-top: 8px;
}

.on-hover-blue:hover {
    color: #0E76FD;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    padding: 5px;
}

::-webkit-scrollbar-thumb {
    background: #adafbc;
}

::-webkit-scrollbar-track {
    margin: 4px;
}